# **`Data Preparation for Sale Analytics`**

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sb
sb.set(font='TH Sarabun NEW')

%matplotlib inline
%config InlineBackend.figure_format='retina'

print(f'pandas version : {pd.__version__}')
print(f'matplotlib version : {matplotlib.__version__}')
print(f'seaborn version : {sb.__version__}')

pandas version : 1.0.3
matplotlib version : 3.2.1
seaborn version : 0.10.1

## **`INITIAL VALUE`**

In [2]:
input_path = 'input/'
output_path = 'output/'
graph_path = 'graph/'
ds_cols = ['SHOWROOM', 'INV_DATE', 'INV_NO', 'ITEM_CODE', 'ITEM_NAME', 'QTY', 'PRICE', 'CUSTOMER']
sr_names = [['ONLINE', 0], ['SR01', 1], ['SR05', 2]]
q_names = [['QUARTER 1', 1], ['QUARTER 2', 2], ['QUARTER 3', 3], ['QUARTER 4', 4]]
m_names = [['JANUARY', 1], ['FEBRUARY', 2], ['MARCH', 3], ['APRIL', 4], ['MAY', 5], ['JUNE', 6],
           ['JULY', 7], ['AUGUST', 8], ['SEPTEMBER', 9], ['OCTOBER', 10], ['NOVEMBER', 11], ['DECEMBER', 12]]
d_names = [['MONDAY', 0], ['TUESDAY', 1], ['WEDNESDAY', 2], ['THURSDAY', 3], ['FRIDAY', 4], ['SATURDAY', 5], ['SUNDAY', 6]]

## **`LOAD DATA`**

In [3]:
# Read Data from file and change column name
ds = pd.read_csv(f'{input_path}allsr_2019.csv',
                 parse_dates=['INV_DATE'],
                 names=ds_cols,
                 header=0)

In [4]:
ds.loc[ds.SHOWROOM == 'JOY', 'SHOWROOM'] = 'ONLINE'

In [5]:
# Sample for each channel
pd.concat([ds[ds.SHOWROOM == sr[0]].sample(5) for sr in sr_names])

,SHOWROOM,INV_DATE,INV_NO,ITEM_CODE,ITEM_NAME,QTY,PRICE,CUSTOMER
860,ONLINE,2019-10-12,CS-1256212/053,IG0095-1,Almond Blanched Slice 1 kg. (M160),1.0,410.0,P14308
1069,ONLINE,2019-12-27,CS-1256212/150,IG0149,"Cacao Barry Cocoa Powder Extrabrute No.3 ,2.5 kg.",1.0,1099.0,P12552
1059,ONLINE,2019-12-26,CS-1256212/147,IG0028-1P,Cacao Nibs (Avendacom) 750 gr.,3.0,360.0,P7128
304,ONLINE,2019-10-26,CS-1256210/107,IG0958-P,Activa TG-BP (QS) Transglutaminase (Meat Glue)...,1.0,2200.0,P14029
145,ONLINE,2019-10-15,CS-1256210/045,CL0947-52,EU Food Color 46P10052 Pump Powder New Silver ...,3.0,380.0,C2539
3760,SR01,2019-05-03,DS256203/00046,IG0569.1,500g. FEUILLETINE/Royaltine M086,4.0,245.0,H0054
4061,SR01,2019-03-14,CS-1256203/067,PT0037-2301,Kovea KT-2301 Micro Torch // หัวปืนแก๊ส,1.0,1590.0,P12799
2802,SR01,2019-10-02,CS256202/00031,4013528091401,Thermo Hauser 83000.09140 Flat Pastry Brush 45...,1.0,260.0,C1404
8724,SR01,2019-02-08,CS-0256208/017,2019800130907,Korea 1446-1 (P) Cake Decorating Comb (Plastic...,1.0,59.0,WL00127
3147,SR01,2019-02-18,CS-1256202/121,IG0123,"Elle&Vire Whipping Cream 35% ,1 Litre (M191)",4.0,220.0,P12526
24542,SR05,2019-03-06,DS256206/00181,PT1046,"Magix Chef 10.5"" Piping Bag Clear (S) 100/Roll",1.0,105.0,C0161
15699,SR05,2019-04-02,DS256202/00068,PT2691,Lacor N2O 8 g. Cream Charger 10 pcs/pack,1.0,98.0,C0161
31607,SR05,2019-01-10,DS-0256210/009,MA2383-SP,KitchenAid 5KSM175PSESP Artisan Mixer 4.8 Lt S...,1.0,18900.0,P10426
32934,SR05,2019-10-25,DS256210/00158,MA2569-ER,KitchenAid 5KMT223GER Automatic/Pop Up Toaster...,1.0,3505.0,C0161
20981,SR05,2019-04-17,DS256204/00122,PK0616,CH44 Jelly/Mousse Cups+Lid 270 ml.ทรงสี่เหลี่ย...,50.0,8.0,P10200

## **`ADD SHOWROOM_CODE`**

In [6]:
ds['SR_CODE'] = ds.SHOWROOM.map({'ONLINE': 0, 'SR01': 1, 'SR05': 2}).astype('category')
ds.head()

,SHOWROOM,INV_DATE,INV_NO,ITEM_CODE,ITEM_NAME,QTY,PRICE,CUSTOMER,SR_CODE
0,ONLINE,2019-09-23,CS-1256209/057,IG0681,"Callebaut Dark Chocolate Couverture 57.7% , 2.5kg",1.0,850.0,P13820,0
1,ONLINE,2019-09-23,CS-1256209/057,IG0682,"Callebaut White Chocolate Couverture 28% ,2.5 kg",1.0,950.0,P13820,0
2,ONLINE,2019-09-23,CS-1256209/057,PK0645,SYN Triangle Paper Gold Card 7x11 cm. (P/100) ...,1.0,90.0,P13820,0
3,ONLINE,2019-09-23,CS-1256209/057,PK0405-8,SNY Round Paper Card 8 cm. P/100,1.0,90.0,P13820,0
4,ONLINE,2019-09-23,CS-1256209/058,PK0115,CH32 Jelly/Mousse Cups Cap:130ml. dia.98x47x45H,200.0,3.8,R0408,0

## **`ADD INVOICE_TYPE`**

In [7]:
ds['INV_TYPE'] = ds.INV_NO.str[0:2].map(lambda x : str.upper(x))
print(f'Total Invoice Type : {len(ds.INV_TYPE.unique())}')
ds.INV_TYPE.unique()

Total Invoice Type : 5

array(['CS', 'KW', 'DS', 'PO', 'EV'], dtype=object)

## **`ADD SELL_TYPE`**
#### Update for spare, rental, service, labour, advertising, guarantee

In [8]:
ds['SELL_TYPE'] = 'PRODUCT'
ds.loc[ds.ITEM_NAME.str[0:5] == 'Spare', 'SELL_TYPE'] = 'SPARE'
ds.loc[ds.ITEM_NAME.str.contains('ค่าเช่า'), 'SELL_TYPE'] = 'RENTAL'
ds.loc[ds.ITEM_CODE.str[0:3] == 'SER', 'SELL_TYPE'] = 'SERVICE'
ds.loc[ds.ITEM_CODE.str.contains('REPAIR'), 'SELL_TYPE'] = 'SERVICE'
ds.loc[ds.ITEM_NAME.str.contains('LABOR', 'LABOUR'), 'SELL_TYPE'] = 'LABOUR'
ds.loc[ds.ITEM_NAME.str.contains('สื่อโฆษณา'), 'SELL_TYPE'] = 'ADVERTISING'
ds.loc[ds.ITEM_CODE.str.contains('GUARANTEE'), 'SELL_TYPE'] = 'GUARANTEE'

## **`CLEAN ITEM_CODE`**
#### There are some record wrong input text

In [9]:
ds['ITEM_CODE'] = ds.ITEM_CODE.map(lambda x : str.replace(x, '*', ''))
ds['ITEM_CODE'] = ds.ITEM_CODE.map(lambda x : str.replace(x, '.', ''))

# Change some wrong language character
ds.loc[ds.CUSTOMER == 'ี/P', 'CUSTOMER'] = 'U/P'
ds.loc[ds.CUSTOMER == 'ฝย', 'CUSTOMER'] = 'U/P'
ds.loc[ds.ITEM_CODE == '(01)08029859061156(10)00', 'ITEM_CODE'] = '8029859061156'

## **`Add ITEM_TYPE, CUSTOMER_TYPE`**

In [10]:
ds['ITEM_TYPE'] = ds.ITEM_CODE.str[0:2].map(lambda x : str.upper(x))
ds['CUSTOMER_TYPE'] = ds.CUSTOMER.str[0:1].map(lambda x : str.upper(x))
ds.sample(5)

,SHOWROOM,INV_DATE,INV_NO,ITEM_CODE,ITEM_NAME,QTY,PRICE,CUSTOMER,SR_CODE,INV_TYPE,SELL_TYPE,ITEM_TYPE,CUSTOMER_TYPE
23603,SR05,2019-05-20,DS256205/00226,PT0932,Actiff Cleaning AEROSOL for Oven /MF 05937,1.0,315.0,C0161,2,DS,PRODUCT,PT,C
30201,SR05,2019-02-09,CS-2256209/003,IG0087-5KG,Pastry Powder Hot Process 5 kg,6.0,2400.0,P7159,2,CS,PRODUCT,IG,P
631,ONLINE,2019-11-23,CS-1256211/096,IG0149-1,1KG.COCOA POWDER No.3 Exbrute CACAO BARRY (M219),1.0,550.0,P13394,0,CS,PRODUCT,IG,P
34686,SR05,2019-11-27,KW256211/00227,2019800390271,PPLY PC1260 Pyramid Chocolate Molds NR.21,1.0,595.0,A0011,2,KW,PRODUCT,20,A
33944,SR05,2019-12-11,KW256211/00104,CW0060-G6A,Polycarbonate Containers GN 1/6 x 100 mm.Dim 1...,7.0,170.0,R0298,2,KW,PRODUCT,CW,R

In [11]:
print(f'Total Product Type : {len(ds.ITEM_TYPE.unique())}')
print(f'Totel Customer TYpe : {len(ds.CUSTOMER_TYPE.unique())}')

Total Product Type : 75
Totel Customer TYpe : 15

## **`Show Customer Code`**

In [57]:
ds.ITEM_TYPE.unique().shape

(75,)

In [12]:
ds.ITEM_TYPE.unique()

array(['IG', 'PK', '20', 'PT', 'CL', 'BW', 'CD', 'AS', 'CW', '88', 'MA',
       'CT', 'RE', 'PR', 'SP', '54', '33', '02', '01', '69', '30', '49',
       '31', '34', '93', '84', '35', '80', '68', '40', '32', 'GA', 'SE',
       '45', '09', '87', '36', '07', 'VJ', '86', '05', 'GU', '94', '76',
       '03', '47', '10', '98', '50', '78', 'MC', '00', '18', '89', '42',
       'LA', 'ED', 'PA', '25', 'ST', 'CP', 'W1', '5K', 'VO', '37', '48',
       'KP', 'LB', 'RT', '74', 'X0', 'CO', '79', '65', '85'], dtype=object)

In [69]:
ds[ds.ITEM_TYPE.str.contains(r'^[A-Z]')].ITEM_TYPE.unique().shape

(30,)

In [70]:
ds[ds.ITEM_TYPE.str.contains(r'^[A-Z]')].ITEM_TYPE.unique()

array(['IG', 'PK', 'PT', 'CL', 'BW', 'CD', 'AS', 'CW', 'MA', 'CT', 'RE',
       'PR', 'SP', 'GA', 'SE', 'VJ', 'GU', 'MC', 'LA', 'ED', 'PA', 'ST',
       'CP', 'W1', 'VO', 'KP', 'LB', 'RT', 'X0', 'CO'], dtype=object)

In [67]:
ds[ds.ITEM_TYPE.str.contains(r'^[0-9]')].ITEM_TYPE.unique().shape

(45,)

In [68]:
ds[ds.ITEM_TYPE.str.contains(r'^[0-9]')].ITEM_TYPE.unique()

array(['20', '88', '54', '33', '02', '01', '69', '30', '49', '31', '34',
       '93', '84', '35', '80', '68', '40', '32', '45', '09', '87', '36',
       '07', '86', '05', '94', '76', '03', '47', '10', '98', '50', '78',
       '00', '18', '89', '42', '25', '5K', '37', '48', '74', '79', '65',
       '85'], dtype=object)

In [47]:
ds.CUSTOMER_TYPE.unique()

array(['P', 'R', 'W', 'C', 'A', 'L', 'H', 'D', 'F', 'S', 'N', 'U', '1',
       'G', '0'], dtype=object)

## **`Add INV_QUARTER, INV_MONTH, INV_WEEK_DAY, INV_MONTH_DAY)`**

In [14]:
ds['INV_QUARTER'] = ds.INV_DATE.dt.quarter
for i in list([1,2,3,4]):
    ds[f'Q{i}'] = 0
    ds.loc[ds.INV_QUARTER == i, f'Q{i}'] = i

ds['INV_MONTH'] = ds.INV_DATE.dt.month
for i in list([1,2,3,4,5,6,7,8,9,10,11,12]):
    ds[f'M{i}'] = 0
    ds.loc[ds.INV_MONTH == i, f'M{i}'] = i

ds['INV_WEEK_DAY'] = ds.INV_DATE.dt.weekday # Monday=0 and Sunday=6
for i in list([0,1,2,3,4,5,6]):
    ds[f'WD{i}'] = 0
    ds.loc[ds.INV_WEEK_DAY == i, f'WD{i}'] = i

ds['INV_MONTH_DAY'] = ds.INV_DATE.dt.day
ds.sample(5)

,SHOWROOM,INV_DATE,INV_NO,ITEM_CODE,ITEM_NAME,QTY,PRICE,CUSTOMER,SR_CODE,INV_TYPE,...,M12,INV_WEEK_DAY,WD0,WD1,WD2,WD3,WD4,WD5,WD6,INV_MONTH_DAY
8893,SR01,2019-09-08,CS-2256208/021,PT0234,CDN IN1022 Infrared Gun Thermometer (B353),1.0,2500.0,A0005,1,CS,...,0,6,0,0,0,0,0,0,6,8
22012,SR05,2019-02-05,DS256205/00036,PT2388,Inno Chef INC447 Digital Kitchen Scale 15 kg/1g.,1.0,1118.0,C0161,2,DS,...,0,1,0,1,0,0,0,0,0,5
9885,SR01,2019-12-09,CS-2256209/050,2019800290755,White Powder Color 100 g. (Titanium Dioxide),2.0,400.0,C1317,1,CS,...,12,0,0,0,0,0,0,0,0,9
22033,SR05,2019-02-05,DS256205/00041,CW0328-12,Squeezing Bottle 12 oz (PT1527-12),2.0,38.0,C0161,2,DS,...,0,1,0,1,0,0,0,0,0,5
16141,SR05,2019-08-02,DS256202/00146,MA2259-ER,"KitchenAid 5KPM5EER Stand Mixer 5 Qt ,4.8 L He...",3.0,13949.0,C0161,2,DS,...,0,4,0,0,0,0,4,0,0,2

## **`EXPLORATORY DATA`**

In [15]:
print(f'Total Customer : {ds.CUSTOMER.nunique()}')
print(f'Total Selling Days : {ds.INV_DATE.nunique()}')
print(f'Total Invoice No. : {ds.INV_NO.nunique()}')
print(f'Total Product Name : {ds.ITEM_NAME.nunique()}')
print(f'Total Product Price : {round(ds.PRICE.sum() / 1e6, 2)} M.Baht')
print(f'Total Product Qty : {ds.QTY.sum()}')
print(f'Total Item Code : {ds.ITEM_CODE.nunique()}')
print(f'Total Sell Type : {ds.SELL_TYPE.nunique()}')

Total Customer : 4013
Total Selling Days : 361
Total Invoice No. : 9021
Total Product Name : 4900
Total Product Price : 77.38 M.Baht
Total Product Qty : 201421.0
Total Item Code : 6188
Total Sell Type : 7

In [16]:
ds.SELL_TYPE.unique()

array(['PRODUCT', 'SERVICE', 'SPARE', 'GUARANTEE', 'RENTAL', 'LABOUR',
       'ADVERTISING'], dtype=object)

In [17]:
#print(f'Total Spare : {ds[ds.SELL_TYPE == "SPARE"].nunique()}')
ds.T.apply(lambda x : x.nunique(), axis=1)

SHOWROOM            3
INV_DATE          361
INV_NO           9021
ITEM_CODE        6188
ITEM_NAME        4900
QTY               146
PRICE            1730
CUSTOMER         4013
SR_CODE             3
INV_TYPE            5
SELL_TYPE           7
ITEM_TYPE          75
CUSTOMER_TYPE      15
INV_QUARTER         4
Q1                  2
Q2                  2
Q3                  2
Q4                  2
INV_MONTH          12
M1                  2
M2                  2
M3                  2
M4                  2
M5                  2
M6                  2
M7                  2
M8                  2
M9                  2
M10                 2
M11                 2
M12                 2
INV_WEEK_DAY        7
WD0                 1
WD1                 2
WD2                 2
WD3                 2
WD4                 2
WD5                 2
WD6                 2
INV_MONTH_DAY      31
dtype: int64

In [18]:
ds.groupby(['SELL_TYPE'])['QTY'].sum()

SELL_TYPE
ADVERTISING         1.0
GUARANTEE           1.0
LABOUR              2.0
PRODUCT        200003.0
RENTAL              9.0
SERVICE           233.0
SPARE            1172.0
Name: QTY, dtype: float64

## **`Sell Type Amount`**

In [19]:
ds.groupby(['SELL_TYPE'])['PRICE'].sum()

SELL_TYPE
ADVERTISING     1871397.20
GUARANTEE        360000.00
LABOUR             2000.00
PRODUCT        71141507.47
RENTAL          1620000.00
SERVICE          304808.80
SPARE           2077993.50
Name: PRICE, dtype: float64

In [20]:
ds_itemcount = pd.DataFrame(ds.ITEM_NAME.value_counts().reset_index())
ds_itemcount.rename(columns={'index': 'ITEM_NAME', 'ITEM_NAME': 'Count'}, inplace=True)
ds_itemcount.sort_values(by='Count', ascending=False)
ds_itemcount.head(20)

                                            ITEM_NAME  Count
0                      500 g.Dark Choc 58% COCOABARRY    385
1   Cacao Barry Dark Choc Fleur de Cao Pistol 70% ...    276
2        2 Kg.T55 แป้งเอนกประสงค์ Made in France M145    260
3                     Almond Powder (USA) 1 kg.(M071)    247
4        Nielsen Massey Pure Vanilla Bean Paste 50 g.    203
5   Cacao Barry Dark Choc Mi-Amere Pistoles 58% 5 ...    200
6                            Cocoa Butter 1 kg (M024)    200
7     Spare Part for Changing or Repairing of Machine    194
8   Callebaut Dark Chocolate Couverture Noir 70.4%...    182
9      Cacao Barry Dark Choc Pistal 64% 500 g. (M236)    172
10  Cacao Barry Cocoa Powders Plein Arome No.2 , 1 kg    164
11   EU Food Color 46P10047 Pump Powder Gold AF 10 g.    163
12                                T45 แป้งขนมปัง 1 kg    162
13            Mosa N2O 8 g. Cream Charger 10 pcs/pack    158
14         Superfine Almond Powder (USA) 1 kg. (M071)    146
15  Elle&Vire 82% All Purpose Unsalted Butter 2.5 kg.    146
16                    Gelita Gelatine Sheets e 1000 g    133
17  Cacao Barry White Choc Zephyr 34% Pistoles 500 g.    130
18  Callebaut Dark Chocolate Couverture 57.7% , 2.5kg    128
19  KitchenAid 5KPM5EER Stand Mixer 5 Qt ,4.8 L He...    126

In [21]:
ds_itemcount = pd.DataFrame(ds.CUSTOMER.value_counts().reset_index())
ds_itemcount.rename(columns={'index': 'CUSTOMER', 'CUSTOMER': 'Count'}, inplace=True)
ds_itemcount.sort_values(by='Count', ascending=False)
ds_itemcount.head(20)

   CUSTOMER  Count
0     C0161  14794
1     D0034    414
2     A0448    322
3     C0567    208
4    P10200    203
5     R0417    185
6     R0200    176
7     R0237    136
8     P6213    133
9     C1903    132
10    D0038    100
11    C2568    100
12    C1163    100
13    R0428    100
14    C1295     93
15    D0002     91
16    C2567     87
17    P1446     84
18  WL01191     79
19    A0356     76

## **`Save to Final File`**

In [22]:
ds.to_csv(f'{output_path}final_allsr_2019.csv', index=False)